pyrofork
motor
TgCrypto
Dnspython
cryptg
tgcrypto
psutil
opencv-python-headless
python-decouple
requests
speedtest-cli
pymongo
aiohttp
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
